html {
    background-image: url("");
}


.dope-header {
    color: rebeccapurple;
    text-decoration: underline;
    text-align: center;
}
h2 {
    color: hotpink;
    text-decoration: solid;
    text-align: center;
}